server = true
bootstrap_expect = 3

bind_addr = "{{ ansible_enp0s8.ipv4.address }}"
client_addr = "0.0.0.0"
ui = true

performance {
  raft_multiplier = 1
}

test = "{{ host_ips | reject('equalto', ansible_enp0s8.ipv4.address) | list }}"